<!-- Header section starts -->

<header class="header">
    <a href="/" class="logo"> <img src="~/Content/Images/Logo/logo.png" /> AcentyShop </a>
    <nav class="navbar">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li>
                <a href="#products"><img src="//theme.hstatic.net/200000881795/1001243022/14/menu_icon_3.png?v=152" style="height:30px" alt="Sản phẩm">sản phẩm</a>
                
                <ul>
                    @*@Html.Action("LoaiSanPhamPartial", "LoaiSanPham")*@
                </ul>
            </li>
            @*<li><a href="@Url.Action("SanPhamNoiBat","SanPham",new { page = 1})">nổi bật</a></li>*@
            <li><a href="#">đánh giá</a></li>
            <li><a href="#contact">liên hệ</a></li>
            <li><a href="#">blogs</a></li>
        </ul>
    </nav>
    <div class="icons">
        <div id="menu-btn" class="fa-regular fa-user"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="heart-btn" class="fas fa-heart">
            @*@Html.Action("TotalPartial", "FavoriteProduct")*@
        </div>
        <div id="shopping-cart-btn" class="fas fa-shopping-cart">
            @*@Html.Action("SoLuongPartial", "ShoppingCart")*@
        </div>

    </div>
    @*@using (Html.BeginForm("SearchSanPhamByName", "SanPham", FormMethod.Post, new { @class = "search-form" }))
    {
        <input type="search" name="searchValue" placeholder="search here..." id="search-box" value="@ViewBag.SearchValue">
        <button type="submit" for="search-box" class="fas fa-search"></button>
    }*@



    <div class="user-box" style="display: none;">
        <div class="user-details">
            <div class="image-user">
                <img src="https://raw.githubusercontent.com/anhvu13/fashion.github.io/main/avatarUser.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="user-infor">
                <h2 class="user-name">Phạm yến nhi</h2>
                <p class="user-email">customer1@gmail.com</p>
                <p class="user-rank">Rank: Vip</p>
            </div>
        </div>
        <div class="logout-box">
            <a class="user-information">Thông tin người dùng</a>
            <button type="button" id="logoutButton" class="logout-button" href="">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
            </button>
        </div>
    </div>
    @*@Html.Action("GioHangPartial", "ShoppingCart")*@
    @*@Html.Action("FavoriteProductPartial", "FavoriteProduct")*@
    <div class="account" style="display: none;">
        <div class="close-btn">×</div>                              
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                @*@Html.Action("RegisterPartial","Account")*@

            </div>
            <div class="form-container sign-in-container">
                @*@Html.Action("LoginPartial", "Account")*@
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Chào mừng trở lại!</h1>
                        <p>Để tiếp tục kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                        <button class="ghost" id="signIn">Đăng nhập</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Xin chào, bạn!</h1>
                        <p>Nhập thông tin cá nhân của bạn và bắt đầu cuộc hành trình cùng chúng tôi</p>
                        <button class="ghost" id="signUp">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Header section ends -->
