<!-- Honme section starts -->
<section class="home" id="home">
    <div id="demo" class="carousel" data-bs-ride="carousel">
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="~/Content/Images/banner3.png" alt="Los Angeles" class="d-block" style="width: 100%">
                <div class="carousel-caption caption-left">
                    <span>Giảm 50%</span>
                    <h3>Thiết Bị Điện Siemens</h3>
                    <a href="#" class="btn">Mua Ngay</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/banner2.png" alt="Chicago" class="d-block" style="width: 100%">
                <div class="carousel-caption caption-left">
                    <span>Giảm 50%</span>
                    <h3>Thiết bị điện Autonics</h3>
                    <a href="#" class="btn">Mua Ngay</a>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="~/Content/Images/banner1.png" alt="New York" class="d-block" style="width: 100%">
                <div class="carousel-caption caption-left">
                    <span>Giảm 40%</span>
                    <h3>Thiết Bị Điện Selec</h3>
                    <a href="#" class="btn">Mua Ngay</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>
<!-- Honme section ends -->
